
@import '../abstracts/variables';
@import '../abstracts/mixins';
@import '../components/components';



.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-image: url(../images/header/img1.png);
    background-position: center;
    background-size: cover;
    height: 224vw;
    @media (min-width: $bp-tablet) {
        height: 104vw;
     
      }

      @media (min-width: $bp-desktop) {
        height:68vw;
        background-color: transparent;
      }
}

.header__nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:#27262A;
    width: 100%;
    height: 32.18vw ;
    padding: 0 4.7vw;
    

    @media (min-width: $bp-tablet) {
        flex-direction: column;
        justify-content: space-around;
        height:15vw;
        padding-top: 2vw;
        padding-bottom: 1.5vw;
      }

      @media (min-width: $bp-desktop) {
        height:8vw;
        padding-top: 2.24vw;
        background-color: transparent;
      }
}



.header-mobile-menu {
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}

.header__logo-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    &:hover .header__logo-img  {
        background-image: url(../images/header/logo-hover_1.png);
        
    }

    &:hover .header__logo-text {
    color: white;
    }
    
}

.header__logo-img {
    background-image: url(../images/header/Logo_1.png);
    display: flex;
    width: 43px;
    height: 41px;
}


.header__logo-text {
        display: none;
    font-family: $fontLato;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: $mainVioletColor;
    padding-left: 17px;
    @media (min-width: $bp-tablet) {
        display: flex;
    }
    @media (min-width: $bp-desktop) {
        display: flex;
}
}


.section-welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 6vw auto;
    font-family: $fontMonserrat;
    color: #fff;
    @media (min-width: $bp-tablet) {
        // padding-top: 1px;
        margin-top: 1%;
     
      }

      @media (min-width: $bp-desktop) {
        
      }
}

.section-welcome__app-name {
    font-weight: 700;
    font-size: 48px;
    @media (min-width: $bp-tablet) {
        font-size: 72px;
      }

      @media (min-width: $bp-desktop) {
        font-size: 82px;
      }
}


.section-welcome__app-text {
    font-weight: 400;
    font-size: 18px;
    color: $mainVioletColor;
    margin-top: 19px;
    width: 93vw;
    text-align: center;
    @media (min-width: $bp-tablet) {
        font-size: 24px;
      }

      @media (min-width: $bp-desktop) {
        font-size: 30px;
      }
}

.section-welcome__app-version {
    font-weight: 400;
    font-size: 14px;
    color: $mainVioletColor;
    margin-top: 14px;
    @media (min-width: $bp-tablet) {
        font-size: 16px;
      }

      @media (min-width: $bp-desktop) {
        font-size: 16px;
      }
}





