@import '../abstracts/variables.scss';
@import '../abstracts/mixins.scss';

.download-text {
    font-family: $fontMonserrat;
    color: $mainVioletColor;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    text-align: center;
    margin-top: 61px;
}

.revolution__wrapper {
    max-width: 861px;
    padding: 129px 10px 0 10px;
    margin: 0 auto;
    box-sizing: content-box;

    .revolution__title {
        font-family: $fontMonserrat;
        font-style: normal;
        font-weight: 700;
        font-size: 54px;
        line-height: 54px;
        text-align: center;
        text-transform: uppercase;
        color: $mainVioletColor;
    }

    .revolution__text {
        font-family: $fontLato;
        font-style: normal;
        font-weight: 400;
        font-size: 21px;
        line-height: 32px;
        text-align: center;
        color: #323232;
        margin: 35px 0 13px 0;
    }
}

.revolution__buttons-block {
    display: flex;
    justify-content: space-between;
    width: 365px;
    margin: 0 auto;

    .revolution__button {
        min-width: 110px;
        display: flex;
        text-decoration: none;
        color: black;
        border: 1px solid silver;
        background-color: #f4f4f4;
        border-radius: 3px;
        height: 27px;
    }

    .revolution__button__visual {
        padding: 0 7px;
        display: flex;
        align-items: center;
        height: 25px;
        border-right: 1px solid silver;

        .revolution__button__text {
            font-family: $fontLato;
            padding-left: 2px;
            font-weight: 600;
            text-transform: capitalize;
            font-size: 16px;
        }
    }

    .revolution__button__numbers {
        font-family: $fontLato;
        box-sizing: border-box;
        font-size: 11px;
        font-weight: 900;
        background-color: white;
        padding: 6px 7px 0 7px;
        overflow: hidden;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
    }
}

@media (max-width: $bp-desktop) {
    .revolution__wrapper {
        max-width: 689px;

        .revolution__title {
            font-size: 42px;
            line-height: 42px;
        }

        .revolution__text {
            font-size: 21px;
            line-height: 32px;
        }
    }
}

@media (max-width: $bp-tablet) {
    .revolution__wrapper {
        max-width: 276px;

        .revolution__title {
            font-size: 26px;
            line-height: 28px;
        }

        .revolution__text {
            font-size: 14px;
            line-height: 20px;
        }
    }

    .revolution__buttons-block {
        max-width: 251px;
        flex-wrap: wrap;
        justify-content: center;

        .revolution__button:first-child {
            margin-right: 10px;
        }

        .revolution__button:last-child {
            margin-top: 20px;
        }
    }
}